# ----- SERVER SETTINGS -----
[server]
port = 3000
cors_origin = "http://127.0.0.1:5173"
cookies_domain = "127.0.0.1"
keys_dir = "keys"

# File scanner server's gRPC URL
scanner_url = "localhost:40400"


# ---- DATABASE & CACHE -----
[database]
database_url = "postgres://username:password@host/database"
redis_url = "redis://host:port"


# ------ APP SETTINGS -------
[app]
cdn_url = "http://127.0.0.1:3000/public"
default_avatar = "/avatars/default.webp"
pagination_limit = 20

# Disable ALL rate limits - useful for local development and testing only.
disable_rate_limits = false

# When enabled, the API becomes read-only. All requests that
# modify resources are rejected with a 503 status code.
maintenance = false

# To what (webp) image quality should all user-uploaded images be converted to.
# value: 10 - 100
image_quality = 80


# --- JWT AUTHENTICATION ----
[jwt]
# A shorter access_exp means user state (ban, role) is fetched from the
# database sooner, at the cost of more frequent db reads.
access_exp = "1m"
refresh_exp = "168h" # 7 days


# ---------- POLAR ----------
[polar]
sandbox = false
token = "polar_oat_xxxxxxx"
webhook_secret = "polar_whs_yyyyyyyy"

# ID of your monthly subscription product in Polar
subscription_product_id = "a890950e-1633-49cc-9f3a-cae5266996b6"


# ------ UPLOAD LIMITS ------
[limits]
max_screenshots_per_rice = 10
user_avatar_size_limit = 5_000_000 # 5MB
dotfiles_size_limit = 500_000_000 # 500MB

# Per-screenshot size limit. User can upload more than that
# because the total is: screenshot_size_limit * max_screenshots_per_rice.
screenshot_size_limit = 10_000_000 # 10MB


# ------- BLACKLISTS --------
[blacklist]
# Where each list is applied:
#   words[] -> rice titles, rice descriptions, display names (contains), usernames (contains)
#   display_names[] -> display names (exact)
#   usernames[] -> usernames (exact)

words = ["bad"]
display_names = ["Bad User"]
usernames = ["admin", "moderator"]